body {
  margin: 0;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.nav-pane {
  height: 6vh;
  background-color: hsl(225, 20%, 13%);
}

.editor-pane {
  height: 47vh;
  display: flex;
}

.editor-container {
  float: none;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .3rem;
  background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed {
  flex-grow: 0;
}

/* Collapse irrespective of the length of text */
.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

ul.navbar {
  list-style-type: none;
  margin: auto;
  padding: 0 0;
}

ul.navbar li {
  display: inline;
  float: right;
  padding-right: .5rem;
}

button.download-btn {
  background: none;
  color: white;
  cursor: pointer;
  margin-top: 6px;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-color: hsl(225, 6%, 25%);
  border-radius: 5px;
}

span.logo {
  float: left;
  color: white;
  margin-top: 3px;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 25px;
}

.download-icon {
  background: none;
  border: none;
  margin-right: .5rem;
}

button.download-btn.HTML {
  background-color: #e85920;
}

button.download-btn.CSS {
  background-color: #2048e8;
}

button.download-btn.JS {
  background-color: #e8b920;
}

button.download-btn.ALL {
  background-color: #4bbd2b;
}